<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="app">
<head>
   <title></title>
   <link href="Content/bootstrap.min.css" rel="stylesheet" />

</head>
   <body>
      <div data-ng-controller="baseController">
         <input type="text" data-ng-model="signalRSource"/>
         <button type="button" data-ng-click="setSignalRSource()">start</button>
      </div>
      
      <div ui-view=""></div>
      <script src="Scripts/jquery-2.1.0.min.js"></script>
      <script src="Scripts/angular.min.js"></script>
      <script src="Scripts/angular-ui-router.min.js"></script>
      <script src="Scripts/angular-touch.min.js"></script>
      <script src="Scripts/angular-sanitize.min.js"></script>
      <script src="Scripts/angular-animate.min.js"></script>

      <script src="Scripts/bootstrap.min.js"></script>
      <script src="Scripts/jquery.signalR-2.0.3.min.js"></script>
      <script src="Scripts/ui-bootstrap-0.10.0.min.js"></script>
      <script src="Scripts/ui-bootstrap-tpls-0.10.0.min.js"></script>
   
      <script src="Config/config.js"></script>
      <script src="Config/route-config.js"></script>
      <script src="Config/services.js"></script>
   
      <script src="App/loginController.js"></script>
      <script src="App/memberController.js"></script>
      <script type="text/javascript">
         
      </script>
   </body>
</html>
